In [3]:
import pandas as pd
import numpy as np
import time
import random
import datetime

In [4]:
id = [i for i in range(1, 101)]
central_temperature = [random.randrange(35, 41) for i in range(100)]
cardio_frequency = [random.randrange(60, 180) for i in range(100)]
resp_frequency = [random.randrange(15, 30) for i in range(100)]
total_leucocyto = [random.randrange(2000, 20000) for i in range(100)]
left_deviation = [random.choice(['0', '1']) for i in range(100)]
sistolic_arterial_pressure = [random.randrange(60, 130) for i in range(100)]
average_arterial_pressure = [random.randrange(40, 80) for i in range(100)]
oliguria = [random.uniform(0.25, 0.75) for i in range(100)]
creatinine = [random.uniform(0.5, 3.0) for i in range(100)]
pao2_fio2_relation = [random.randrange(150, 400) for i in range(100)]
spo2 = [random.choice(['0', '1']) for i in range(100)]
platelet = [random.randrange(50000, 200000) for i in range(100)]
lactate = [random.choice(['0', '1']) for i in range(100)]
consciousness_status = [random.randrange(0, 1) for i in range(100)]
bilirubin = [random.choice(['0', '1']) for i in range(100)]
user_id = [random.randrange(1, 5) for i in range(100)]
pacient_id = [i for i in range(1, 101)]
created_at = [datetime.datetime.now() for i in range(100)]
updated_at = [datetime.datetime.now() for i in range(100)]

In [5]:
df = pd.DataFrame({'id' : id,
                   'central_temperature' : central_temperature,
                   'cardio_frequency' : cardio_frequency,
                   'resp_frequency' : resp_frequency,
                   'total_leucocyto' : total_leucocyto,
                   'left_deviation' : left_deviation,
                   'sistolic_arterial_pressure' : sistolic_arterial_pressure,
                   'average_arterial_pressure' : average_arterial_pressure,
                   'oliguria' : oliguria,
                   'creatinine' : creatinine,
                   'pao2_fio2_relation' : pao2_fio2_relation,
                   'spo2' : spo2,
                   'platelet' : platelet,
                   'lactate' : lactate,
                   'consciousness_status' : consciousness_status,
                   'bilirubin' : bilirubin,
                   'user_id' : user_id,
                   'pacient_id' : pacient_id,
                   'created_at' : created_at,
                   'updated_at' : updated_at})

In [6]:
df

,id,central_temperature,cardio_frequency,resp_frequency,total_leucocyto,left_deviation,sistolic_arterial_pressure,average_arterial_pressure,oliguria,creatinine,pao2_fio2_relation,spo2,platelet,lactate,consciousness_status,bilirubin,user_id,pacient_id,created_at,updated_at
0,1,36,100,26,18045,1,68,76,0.660797,2.139878,309,1,68429,0,0,1,2,1,2019-03-31 06:20:34.974982,2019-03-31 06:20:34.975072
1,2,38,123,21,19809,0,96,63,0.527536,2.493227,380,1,84274,1,0,0,2,2,2019-03-31 06:20:34.974986,2019-03-31 06:20:34.975073
2,3,37,117,29,4608,1,70,40,0.277277,2.801962,229,0,160084,1,0,0,4,3,2019-03-31 06:20:34.974986,2019-03-31 06:20:34.975074
3,4,39,60,23,7915,0,89,63,0.446525,2.434142,338,0,124047,0,0,1,1,4,2019-03-31 06:20:34.974987,2019-03-31 06:20:34.975074
4,5,39,62,28,5848,1,78,62,0.551145,0.962025,356,1,84520,0,0,1,2,5,2019-03-31 06:20:34.974987,2019-03-31 06:20:34.975075
5,6,36,133,28,8786,1,78,44,0.301549,2.371991,210,0,138251,0,0,0,3,6,2019-03-31 06:20:34.974988,2019-03-31 06:20:34.975075
6,7,36,84,23,2330,1,88,67,0.395502,2.699563,189,0,167612,1,0,1,1,7,2019-03-31 06:20:34.974988,2019-03-31 06:20:34.975075
7,8,40,111,15,12063,1,97,48,0.517965,2.679967,274,0,87560,0,0,0,3,8,2019-03-31 06:20:34.974989,2019-03-31 06:20:34.975076
8,9,35,164,19,13463,0,68,75,0.347971,1.777455,286,0,170935,0,0,0,1,9,2019-03-31 06:20:34.974989,2019-03-31 06:20:34.975076
9,10,40,102,27,18030,1,101,49,0.303372,1.452701,179,0,77500,1,0,1,1,10,2019-03-31 06:20:34.974990,2019-03-31 06:20:34.975077
10,11,39,144,25,17330,0,79,66,0.584653,2.698244,377,1,67849,1,0,0,2,11,2019-03-31 06:20:34.974990,2019-03-31 06:20:34.975077
11,12,35,160,15,19319,0,119,71,0.297826,1.640571,387,1,148159,1,0,0,2,12,2019-03-31 06:20:34.974991,2019-03-31 06:20:34.975078
12,13,39,131,22,3617,0,88,52,0.496114,0.903045,167,0,164657,0,0,0,2,13,2019-03-31 06:20:34.974991,2019-03-31 06:20:34.975078
13,14,37,138,22,15672,0,129,46,0.382437,1.123768,355,1,153197,1,0,0,2,14,2019-03-31 06:20:34.974992,2019-03-31 06:20:34.975079
14,15,37,86,26,6873,0,76,54,0.494514,0.569401,269,1,77017,1,0,1,2,15,2019-03-31 06:20:34.974992,2019-03-31 06:20:34.975079
15,16,37,83,18,11720,0,111,50,0.400598,0.717416,322,0,147934,0,0,0,4,16,2019-03-31 06:20:34.974993,2019-03-31 06:20:34.975080
16,17,40,135,24,2144,0,113,55,0.412458,1.729361,193,0,102700,1,0,0,1,17,2019-03-31 06:20:34.974993,2019-03-31 06:20:34.975080
17,18,37,86,28,5488,1,88,48,0.515618,2.955357,275,1,85890,0,0,1,4,18,2019-03-31 06:20:34.974994,2019-03-31 06:20:34.975081
18,19,37,101,17,8229,1,128,47,0.448722,0.874960,222,1,162711,0,0,0,3,19,2019-03-31 06:20:34.974994,2019-03-31 06:20:34.975081
19,20,36,73,21,2830,0,81,79,0.268512,0.667010,216,0,135831,1,0,0,2,20,2019-03-31 06:20:34.974994,2019-03-31 06:20:34.975082
20,21,40,112,27,16815,1,99,79,0.484103,0.755007,237,0,186962,0,0,0,4,21,2019-03-31 06:20:34.974995,2019-03-31 06:20:34.975082
21,22,40,168,25,16214,1,108,48,0.370768,2.856227,207,1,151393,0,0,0,3,22,2019-03-31 06:20:34.974995,2019-03-31 06:20:34.975082
22,23,35,87,25,18270,0,90,70,0.413301,2.105161,175,0,124399,1,0,0,2,23,2019-03-31 06:20:34.974996,2019-03-31 06:20:34.975083
23,24,37,102,27,10067,0,69,66,0.473395,1.722567,169,1,143819,1,0,0,1,24,2019-03-31 06:20:34.974996,2019-03-31 06:20:34.975083
24,25,38,156,29,17220,1,73,75,0.418895,0.905826,177,0,159259,0,0,0,2,25,2019-03-31 06:20:34.974997,2019-03-31 06:20:34.975084
25,26,37,100,29,6837,1,99,62,0.258649,1.496049,268,1,132942,0,0,0,4,26,2019-03-31 06:20:34.974997,2019-03-31 06:20:34.975084
26,27,37,140,18,12183,0,78,51,0.591686,2.813938,340,0,118044,1,0,0,2,27,2019-03-31 06:20:34.974998,2019-03-31 06:20:34.975085
27,28,38,109,17,9490,0,120,40,0.574722,2.316084,288,1,143010,0,0,1,3,28,2019-03-31 06:20:34.974998,2019-03-31 06:20:34.975085
28,29,37,109,15,9457,1,107,41,0.705258,2.404739,345,1,113585,0,0,1,3,29,2019-03-31 06:20:34.974999,2019-03-31 06:20:34.975086
29,30,37,109,18,16546,0,110,52,0.438799,1.699377,257,1,153358,0,0,0,4,30,2019-03-31 06:20:34.974999,2019-03-31 06:20:34.975086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,35,66,19,6146,0,87,70,0.445868,0.716292,153,1,179540,1,0,1,4,71,2019-03-31 06:20:34.975018,2019-03-31 06:20:34.975105
71,72,39,144,15,5866,0,66,46,0.339884,0.682598,263,1,180200,0,0,0,1,72,2019-03-31 06:20:34.975019,2019-03-31 06:20:34.975106
72,73,38,171,17,13800,0,118,57,0.714602,1.414915,163,0,96395,0,0,1,4,73,2019-03-31 06:20:34.975019,2019-03-31 06:20:34.975106
73,74,38,60,22,16695,1,90,70,0.560610,0.993548,328,0,57439,0,0,0,4,74,2019-03-31 06:20:34.975020,2019-03-31 06:20:34.975107
74,75,40,114,25,6041,1,116,77,0.729532,1.199391,162,1,56557,1,0,0,3,75,2019-03-31 06:20:34.975020,2019-03-31 06:20:34.975107
75,76,36,71,28,3534,0,78,66,0.325517,1.553119,325,0,96122,0,0,0,1,76,2019-03-31 06:20:34.975021,2019-03-31 06:20:34.975108
76,77,38,84,23,3079,1,67,72,0.262041,1.446814,313,1,154821,1,0,1,4,77,2019-03-31 06:20:34.975021,2019-03-31 06:20:34.975108
77,78,39,74,29,2256,1,74,54,0.701674,1.573997,354,1,105273,0,0,1,4,78,2019-03-31 06:20:34.975022,2019-03-31 06:20:34.975109
78,79,36,114,15,15555,1,86,70,0.520122,1.755850,270,0,76591,1,0,1,4,79,2019-03-31 06:20:34.975022,2019-03-31 06:20:34.975109
79,80,40,101,24,10710,1,66,61,0.736750,1.381869,288,0,142672,0,0,0,4,80,2019-03-31 06:20:34.975023,2019-03-31 06:20:34.975110
80,81,35,105,22,15229,0,95,42,0.404670,1.747665,351,1,187287,0,0,1,3,81,2019-03-31 06:20:34.975023,2019-03-31 06:20:34.975110
81,82,35,152,24,11707,1,122,72,0.348646,1.487752,283,1,192275,1,0,1,2,82,2019-03-31 06:20:34.975024,2019-03-31 06:20:34.975110
82,83,38,100,26,10867,0,103,48,0.653332,0.792140,218,0,75791,0,0,1,3,83,2019-03-31 06:20:34.975024,2019-03-31 06:20:34.975111
83,84,38,80,23,12637,1,107,57,0.284224,1.738677,251,1,112137,0,0,0,4,84,2019-03-31 06:20:34.975025,2019-03-31 06:20:34.975111
84,85,39,123,28,10905,1,77,77,0.606448,2.765933,253,0,137751,0,0,1,1,85,2019-03-31 06:20:34.975025,2019-03-31 06:20:34.975112
85,86,35,147,27,9328,0,64,54,0.742247,2.616123,331,0,89561,1,0,0,3,86,2019-03-31 06:20:34.975025,2019-03-31 06:20:34.975112
86,87,36,94,19,3335,1,103,56,0.708550,1.097278,255,0,189349,1,0,1,4,87,2019-03-31 06:20:34.975026,2019-03-31 06:20:34.975113
87,88,36,119,18,4445,1,79,68,0.543019,2.812214,288,1,193136,1,0,0,2,88,2019-03-31 06:20:34.975026,2019-03-31 06:20:34.975113
88,89,40,142,25,5477,0,109,57,0.463536,0.613782,348,0,122493,0,0,0,1,89,2019-03-31 06:20:34.975027,2019-03-31 06:20:34.975114
89,90,39,70,18,6427,0,127,77,0.367694,2.746596,319,0,146470,1,0,0,3,90,2019-03-31 06:20:34.975027,2019-03-31 06:20:34.975114
90,91,37,169,19,9719,1,101,43,0.680588,1.110765,376,0,126650,1,0,0,1,91,2019-03-31 06:20:34.975028,2019-03-31 06:20:34.975115
91,92,35,166,17,14594,1,115,68,0.296205,1.616435,290,1,168751,1,0,1,4,92,2019-03-31 06:20:34.975028,2019-03-31 06:20:34.975115
92,93,38,168,28,18852,0,68,54,0.397747,0.567491,328,1,100560,1,0,0,1,93,2019-03-31 06:20:34.975029,2019-03-31 06:20:34.975116
93,94,36,89,21,7479,0,87,46,0.576559,1.439252,199,1,91279,0,0,1,3,94,2019-03-31 06:20:34.975029,2019-03-31 06:20:34.975116
94,95,37,151,18,15772,0,127,41,0.389882,1.677346,273,0,180660,0,0,1,1,95,2019-03-31 06:20:34.975030,2019-03-31 06:20:34.975117
95,96,35,167,26,5533,0,80,76,0.266302,2.337400,281,1,199430,1,0,0,2,96,2019-03-31 06:20:34.975030,2019-03-31 06:20:34.975117
96,97,39,151,22,2647,0,76,47,0.315256,1.686888,327,1,76228,1,0,1,4,97,2019-03-31 06:20:34.975031,2019-03-31 06:20:34.975117
97,98,39,172,23,11921,1,61,57,0.448636,1.159881,152,1,161680,1,0,1,2,98,2019-03-31 06:20:34.975031,2019-03-31 06:20:34.975118
98,99,39,112,24,7622,1,118,47,0.481223,1.660839,323,0,76641,1,0,0,3,99,2019-03-31 06:20:34.975032,2019-03-31 06:20:34.975118
99,100,37,149,15,15729,1,92,70,0.435153,2.049291,300,1,84149,0,0,0,2,100,2019-03-31 06:20:34.975032,2019-03-31 06:20:34.975119

In [7]:
df.to_csv('patient_data.csv')

In [11]:
central_temperature = [random.randrange(35, 41) for i in range(1)]
cardio_frequency = [random.randrange(60, 180) for i in range(1)]
resp_frequency = [random.randrange(15, 30) for i in range(1)]
total_leucocyto = [random.randrange(2000, 20000) for i in range(1)]
left_deviation = [random.choice(['0', '1']) for i in range(1)]
sistolic_arterial_pressure = [random.randrange(60, 130) for i in range(1)]
average_arterial_pressure = [random.randrange(40, 80) for i in range(1)]
oliguria = [random.uniform(0.25, 0.75) for i in range(1)]
creatinine = [random.uniform(0.5, 3.0) for i in range(1)]
pao2_fio2_relation = [random.randrange(150, 400) for i in range(1)]
spo2 = [random.choice(['0', '1']) for i in range(1)]
platelet = [random.randrange(50000, 200000) for i in range(1)]
lactate = [random.choice(['0', '1']) for i in range(1)]
consciousness_status = [random.randrange(0, 1) for i in range(1)]
bilirubin = [random.choice(['0', '1']) for i in range(1)]

df = pd.DataFrame({
                   'central_temperature' : central_temperature,
                   'cardio_frequency' : cardio_frequency,
                   'resp_frequency' : resp_frequency,
                   'total_leucocyto' : total_leucocyto,
                   'left_deviation' : left_deviation,
                   'sistolic_arterial_pressure' : sistolic_arterial_pressure,
                   'average_arterial_pressure' : average_arterial_pressure,
                   'oliguria' : oliguria,
                   'creatinine' : creatinine,
                   'pao2_fio2_relation' : pao2_fio2_relation,
                   'spo2' : spo2,
                   'platelet' : platelet,
                   'lactate' : lactate,
                   'consciousness_status' : consciousness_status,
                   'bilirubin' : bilirubin})
df

,central_temperature,cardio_frequency,resp_frequency,total_leucocyto,left_deviation,sistolic_arterial_pressure,average_arterial_pressure,oliguria,creatinine,pao2_fio2_relation,spo2,platelet,lactate,consciousness_status,bilirubin
0,39,87,24,10629,1,63,79,0.551854,2.865403,310,0,153636,0,0,1